<%- include('includes/head') %>
<%- include('includes/nav') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      
      <div class="col-lg-10 my-3">
        <h1 class="text-center text-primary"><i class="fas fa-address-book agenda"></i></h1>
        
        <% if(contatos.length > 0 && user) {%>      
          <p class="lead text-center display-4">Agenda</p>
          <p class="lead text-center display-5">Contatos</p> 
          
          <%- include('includes/messages') %>
          
          <%- include('includes/table')%>
          
          <% } else {%>
            <p class="lead text-center display-4">Agenda</p>
            <% if (user) { %>
              <a href="/contato"><button class="btn btn-lg btn-outline-dark my-5">Adicionar Contato</button></a>
              <% } else { %>
                <h3 class="lead display-5">Para Gerenciar / Adicionar contatos Entre com sua conta ou Registre-se </h3>
                <a href="/login"><button class="btn  btn-outline-dark my-1">Iniciar</button></a>
              <% } %>
              
        <% } %>

      </div>

      <div class="col-lg-1"></div>
    </div>
  </div>

<%- include('includes/footer') %>