<%- include('includes/head') %>
<%- include('includes/nav') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      
      <div class="col-lg-10 my-3">
        <h1 class="text-center text-primary">Agenda</h1>
        <%- include('includes/messages') %>

        <% if(contatos.length > 0 && user) {%>        
         
          <%- include('includes/table')%>

        <% } else {%>
          <p class="lead text-center display-5">Cadastre-se ou entre em uma Conta</p>
        <% } %>
      </div>

      <div class="col-lg-1"></div>
    </div>
  </div>

<%- include('includes/footer') %>