<%- include('includes/head') %>
<%- include('includes/nav') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      
      <div class="col-lg-8 my-3">
        <h1 class="text-center text-primary"><i class="fas fa-address-book agenda"></i></h1>
        <h1 class="text-center">Login</h1>
          <p class="text-center lead">Cadastre-se ou entre com sua conta</p>

          <%- include('includes/messages') %>

          <%- include('includes/formulario') %>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer') %>